<div class="card pt-4 pe-4 ps-4 mb-5">
	<div class="card-body">
		
		<h6 class="title">Descripción:</h6>
		<p class="mt-2" [style]="{textAlign: 'justify'}"> {{ currentProperty?.description }} </p>
		
		<a class="mb-5 show-more pointer no-select" (click)="showMoreDetails = !showMoreDetails">
			Mostrar {{ showMoreDetails ? 'menos' : 'más' }}
			<fa-icon [icon]="faAngleDown" class="dropdown-icon ms-1"></fa-icon>
		</a>
		
		<div class="dropdown-divider mt-4"></div>
		
		<div *ngIf="showMoreDetails" @InAndOutFaster>
				<ng-container *ngTemplateOutlet="moreDetails"></ng-container>
			<div class="dropdown-divider"></div>
		</div>

		<div class="d-flex align-items-center justify-content-center">
			<a (click)="changeProperty.emit($event)" class="py-2 px-4 btn btn-success btn-sm active" role="button" aria-pressed="true">Ver Siguiente</a>
		</div>
	</div>
</div>

<ng-template #moreDetails>
	<div class="pt-4 pb-4">
		<h6 class="title">Detalles de propiedad:</h6>
		<div class="row mt-4" *ngIf="currentProperty?.features">
			<div *ngFor="let detail of currentProperty.features | customKeyValuePipe" class="col-12 col-sm-6 col-md-4 d-flex">
				<div class="feature-icon-container">
					<fa-icon [icon]="featureIcon[detail.key]" class="feature-icon"></fa-icon>
				</div>
				<div class="ms-2">
					<p class="mb-1"> {{ readableFeatures[detail.key] }}: </p>
					<p [ngSwitch]="getType(detail.value)">
            <ng-container *ngSwitchCase="'boolean'">
              {{ detail.value | yesOrNoPipe }}
            </ng-container>
            <ng-container *ngSwitchCase="'number'">
              {{ detail.value | thousandsPipe }} {{detail.key === lotSize ? 'm²' : ''}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ detail.value }}
            </ng-container>
          </p>
				</div>
			</div>
		</div>
	</div>
</ng-template>
