<div class="full-vh d-flex justify-content-center align-items-center">
	<div *ngIf="!loading" class="d-flex d-flex-column justify-content-center align-items-center">
		<img class="error-img" src="../../../../assets/images/ux/error-text.jpg" alt="" />
		<h3>We are sorry :(</h3>
		<p>Something went wrong. <br> The page you were looking for was not found.</p>
		<!-- <p-button -->
		<!-- 	class="p-mt-2" -->
		<!-- 	label="Reintentar" -->
		<!-- 	routerLink="" -->
		<!-- 	NoDblClick -->
		<!-- ></p-button> -->
	</div>
	<!-- TODO: Loading is missing	 -->
</div>
