<div class="card">
  
  <ng-container *ngTemplateOutlet="header"></ng-container>
	
	<div class="card-body p-0">
    <ng-container *ngIf="view === imageView">
      <ng-container *ngTemplateOutlet="carousel"></ng-container>
    </ng-container>
    <ng-container *ngIf="view === mapView">
      <app-g-map
        class="animate__animated animate__fadeIn animate__faster"
        [currentProperty]="currentProperty"
        height="700px"
        width="100%"
      ></app-g-map>
    </ng-container>
	</div>
</div>

<ng-template #header>
  <div class="list-group list-group-flush">
    <div class="d-flex justify-content-around">
      <div class="p-4 header-link pointer" [ngClass]="{'active': view === imageView}" routerLink="/{{ routeInformation.app }}/{{ imageView }}"> Fotos </div>
      <div class="p-4 header-link pointer" [ngClass]="{'active': view === mapView}" routerLink="/{{ routeInformation.app }}/{{ mapView }}"> Mapa </div>
    </div>
  </div>
</ng-template>

<ng-template #carousel>
  <ngb-carousel class="animate__animated animate__fadeIn animate__faster" [interval]="20000000" [pauseOnHover]="true" [pauseOnFocus]="true" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let image of currentImages?.images; let i = index" >
      <div class="carousel-caption d-flex align-items-center justify-content-center">
        <div class="py-2 px-5 rounded-pill bg-black opacity-50">
          {{ i+1 }} / {{ currentImages?.images?.length }}
        </div>
      </div>
      <div class="picsum-img-wrapper">
        <img class="d-block w-100 carousel-image" [src]="image" alt="slide-{{i}} description" [style]="{height: '600px'}">
      </div>
    </ng-template>
  </ngb-carousel>
</ng-template>
